@import url("https://fonts.googleapis.com/css?family=Asap:400,400i,500,500i,600,600i,700,700i");

.nt-card {
  border: .5mm solid;
}

table, tr, td, th  {border: none;}

img[alt=LORIA] { width: 240px; }
img[alt=UL] { width: 240px; }
img[alt=CNRS] { width: 140px; }
img[alt=PLANETE] { width: 240px; }

a {
  color: var(--purple);
}

a:hover {
  font-weight: 900;
}

li.drac-box>a {
  font-size: 1.2em;
}

.drac-bg-black-secondary {
  background-color: var(--white);
}

.drac-text {
  color: black;
  font-family: Asap;
}

pre {
  background-color: var(--grey);
  color: white;
}

code.hljs {
  background-color: var(--grey);
}


/* Style the admonitions. */

.admonition {
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.admonition > .admonition-title {
    margin: 0;
    padding: 0.75rem 1rem;
    background: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    font-size: 1rem;
}

.admonition > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.admonition > *:not(.admonition-title):first-of-type,
.admonition > .admonition-title + * {
    margin-top: 1rem;
}

.admonition > *:last-child {
    margin-bottom: 1rem;
}

/* Style each kind of admonition. */

.admonition.note, .admonition.note > .admonition-title {
    border-color: #3498db;
}

.admonition.note > .admonition-title {
    color: #fff;
    background-color: #3498db;
}

.admonition.warning, .admonition.warning > .admonition-title {
    border-color: #f39c12;
}

.admonition.warning > .admonition-title {
    color: #fff;
    background-color: #f39c12;
}

.admonition.danger, .admonition.danger > .admonition-title {
    border-color: #e74c3c;
}

.admonition.danger > .admonition-title {
    color: #fff;
    background-color: #e74c3c;
}

.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note { /* csslint allow: adjoining-classes */
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning { /* csslint allow: adjoining-classes */
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger { /* csslint allow: adjoining-classes */
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
